* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px 0px 50px 0px;
}

main {
    flex: 1;
    margin: auto;
    width: 80%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 120px;
}


/* Estilização do modal e formulário (popup para cadastro de produtos) */
div#add-product-container button {
    padding: 10px;
    background-color: #ffffff00;
    cursor: pointer;
}

div#add-product-container button:hover {
    background-color: #87878717;
}

div#products-container {
    margin-top: 20px;
    background-color: #E6E6E6;
}

#modal-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.499);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#modal {
    width: 250px;
    min-height: 200px;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 20px;
}

form {
    display: flex;
    flex-flow: column wrap;
}

#close {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c9c9c9;
    border: 0;
    font-size: 13px;
    cursor: pointer;
}

#close:hover {
    background-color: red;
    color: #fff;
}

input {
    width: 100%;
    padding: 3px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.344);
}

select {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.344);
}

#label-upload-img {
    font-size: 13px;
    width: 140px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-top: 15px;
    cursor: pointer;
    background-color: #7373731c;
}

#label-upload-img:hover {
    background-color: #9695957a;

}

#upload-img {
    display: none;
}

#btn-cadastrar {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-top: 15px;
    cursor: pointer;
}

#btn-cadastrar:hover {
    background-color: #9695957a;
}

#alerts {
    color: red;
    margin-bottom: 15px;
}

#modal-container.abrir {
    display: flex;
}

/* Estilo e organização da lista de produtos */
#products-list li:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.105);
}

#products-list li {
    padding: 10px;
    display: flex;
    align-items: center;
}

#products-list li p {
    display: flex;
    flex-flow: column;
    padding: 10px;
    border-radius: 12px;
    margin-left: 10px;
}

#products-list img {
    border-radius: 15px;
}

/* */
#products-list li p span {
    margin-bottom: 5px;
}

.preview {
    width: 95px;
    height: auto;
    object-fit: contain;
}

.product-name {
    font-size: 22px;
    font-weight: bolder;
}

.product-price {
    color: #E71D34;
    font-size: 18px;
}

.product-category {
    display: flex;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.458);
    align-items: center;
}

.category-icon {
    margin-right: 5px;
}